*~
session.*
*.last
.emacs.d/eshell/*
*.log
.emacs.d/ac-comphist.dat
*.cache
*.eld

/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
site-lisp/package/
/swank
/.mc-lists.el
/var
