*~
session*
*.last
*.log
.emacs.d/ac-comphist.dat
*.cache
*.eld
elpa

/url/cache
/.emacs.desktop
auto-save-list
/custom.el
*.elc
CVS
.svn
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
site-lisp/package/
/swank
/.mc-lists.el
/var
.sx

# Prelude
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
.cask
/var/pcache